body
        {
          background: url('http://3.bp.blogspot.com/-nXgSRYWUWhI/UUdidQ_vD9I/AAAAAAAAIH8/TpVUI-jZZGk/s1600/Tumblr+Soft+Colors+blue.jpg');
        }
        .container
        {
          max-width: 500px;
          padding-left: 90px;
          padding-top: 75px;
        }

        .btn-default:hover, .btn-default:focus
        {
          background-color: #5cb85c;
          border-color: #5cb85c;
          color: white;
        }