*,
*:before {
  box-sizing: border-box;
}

html {
  background-color: #222;
}

.loading {
  margin: 100px auto;
  width: 100px;
  position: relative;
}

.outer,
.inner {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1.5s infinite;
          animation: spin 1.5s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.26, 0.66, 0.36, 0.34);
          animation-timing-function: cubic-bezier(0.26, 0.66, 0.36, 0.34);
  -webkit-transform: perspective(200px);
          transform: perspective(200px);
}

.outer {
  border: 10px solid #0078d7;
  border-radius: 50%;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.inner {
  content: "";
  width: 82px;
  height: 82px;
  display: block;
  top: 9px;
  left: 9px;
  position: relative;
  border-radius: 50%;
  border: 10px solid #0d446f;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  40% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  40% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}